/*set the axis line color, dot stroke, font size, and font position*/
body {
  font: 15px sans-serif;
}

body, html {
  margin: 0;
  overflow: hidden;
  height:100%;
}

@media (min-width: 768px){
  #graph {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 75%;
    overflow-y: scroll; 
  }
  
  #right {
    position: absolute;
    margin-top: 60px;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    width: 25%;
  }
}

#graph {
  text-align: center;
  height:100%;
}

#right {
  height:100%;
}

.name{
  position: relative;
  top: 90px;
  text-align: left;
  font-weight: bold;
}

.title {
  position: relative;
  text-align: left;
  font-size: 25px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke:none;
  stroke-width:.5px;
  opacity:0.5;
}

.pname {
  font: 15px bold, sans-serif;
  color:white;

}

.pdetails {
  font: 14px sans-serif;
}

p {
   margin: 0px;
   padding: 0px;
}

h1 {
   margin: 0px;
   padding: 0px;
} 

div.tooltip { 
    position: absolute;     
    text-align: center;     
    width: 150px;          
    height: 230px;         
    padding: 5px;       
    font: 14px, sans-serif; 
    color: white;   
    background: black; 
    border: 0px;    
    border-radius: 8px;     
  }

